bcrypt==5.0.0
boto3==1.40.11
botocore==1.40.11
Faker==37.8.0
kiwisolver==1.4.7
pymongo==4.15.3
pytest==8.4.2
pytest-cov==7.0.0
robotframework==7.3.2
robotframework-assertion-engine==3.0.3
robotframework-browser==19.9.0
robotframework-faker==6.0.0
robotframework-jsonlibrary==0.5
robotframework-pythonlibcore==4.4.1
robotframework-requests==0.9.7
